body {
    min-width: 372px;
    background-image: url('../img/misc/bg-body.jpg');
    background-repeat: repeat;
}

.roxo {
    background-color: #a98dff !important;
    border-color: #a98dff !important;
}

.verde{
    background-color: #aceacf !important;
    border-color: #aceacf !important;
    
}

.rosa{
    background-color: #e466d5 !important;
    border-color: #e466d5 !important;
}

p.truncate-3l {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}